<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>
<body>
    {% include "navbar.njk" %}
    <div class="right">
        {% include "sidebar.njk" %}
    </div>
    {% block content%}{% endblock %}¨
    {% include "sidebar.njk" %}
</body>
</html>